# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test result logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Python virtual environments
venv/
env/

# Contact data file 
contact.txt
